<!DOCTYPE html>

<%- include('../layouts/header'); -%> <%- include('../layouts/scripts'); -%>
<html>
  <body>
    <%- include('../layouts/menu'); -%>
    <div>logout</div>

    <%-include('../layouts/footer'); -%>
  </body>
</html>
