<h3>Descendencia en México</h3>
<div class="container">

    <div class="row">
    </div>  
    
    <div class="col-lg-12 col-md-12 mx-auto">
        <table id="hijos" data-search="true" data-pagination="true" data-page-list="[10, 25, 50, 100, all]"
            data-show-export="true" data-id-field="_id" data-show-export="true" data-click-to-select="true" data-locale="es-Mx">
            <thead>

                <tr class="header-color">
                    <th data-sortable=true data-field="regRef"> No. Reg. Mex</th>
                    <th data-sortable=true data-field="horseName">Nombre</th>
                    <th data-sortable=true data-formatter='sexFormatter' data-field="sex">Sexo</th>
                    <th data-sortable=true data-field="sire">Padre</th>
                    <th data-sortable=true data-field="dam">Madre</th>
                    <th data-sortable=true data-field="microchip">Microchip</th>
                </tr>
            </thead>

        </table>

    </div>

</div>