<!DOCTYPE html>

<div class="mt-5 pt-5 pb-2 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-xs-12 about-company">
        <h2>Heading</h2>
        <p class="pr-5 text-white-100">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis
          quam tristique convallis </p>
        <p> <a href="https://www.facebook.com/exstoconsulting" target="_blank" rel="noopener noreferrer"><i
              class="fa fa-facebook mr-3"></i></a>
          <a href="https://www.linkedin.com/company/exsto-consulting" target="_blank" rel="noopener noreferrer"><i
              class="fa fa-linkedin mr-3"></i></a>
          <a href="https://twitter.com/ExstoConsulting" target="_blank" rel="noopener noreferrer"><i
              class="fa fa-twitter mr-3"></i></a>
          <a href="https://www.instagram.com/exstoconsulting/" target="_blank" rel="noopener noreferrer"><i
              class="fa fa-instagram mr-3"></i></a>
        </p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Links</h4>
        <ul class="m-0 p-0">
          <li>- <a href="#">Lorem ipsum</a></li>
          <li>- <a href="#">Nam mauris velit</a></li>
          <li>- <a href="#">Etiam vitae mauris</a></li>
          <li>- <a href="#">Fusce scelerisque</a></li>
          <li>- <a href="#">Sed faucibus</a></li>
          <li>- <a href="#">Mauris efficitur nulla</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Contactanos</h4>
        <p>¿En que podemos ayudarte?</p>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i>+52 1 442 811 7611</p>
        <p><i class="fa fa-envelope-o mr-3"></i>ventas@exsto.mx</p>

      </div>
      <div class="col-lg-3 col-xs-12 location">
        <p><img class="d-block" style="width:200px; height:200px;" src="../assets/img/lusitanos.svg" alt="" /></p>
        <p><i class="fa fa-whatsapp mr-3"></i><a href="https://wa.me/message/G2777A2TT5ZLN1" target="_blank">Platica con
            nosotros por WhatsApp</a></p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col copyright">
        <p class=""><small class="text-white-100">© 2023. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</div>