<!DOCTYPE html>
<html lang="en">

<%- include('layouts/header'); -%>
    <%- include('layouts/scripts'); -%>

        <body>
            <%- include('layouts/menu'); -%>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body text-center
                        ">
                        <img src="/assets/img/icono.png" alt="" width="130" height="100" onerror=src="/assets/img/icono.png">
                        <h5 class="card-title">Pre Registro de Nacimientos PSL</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="#" class="btn btn-primary">Descargar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body text-center
                        ">
                        <img src="/assets/img/icono.png" alt="" width="130" height="100" onerror=src="/assets/img/icono.png">
                        <h5 class="card-title">Pre Registro de Raza Selecta solo México</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="#" class="btn btn-primary">Descargar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body text-center
                        ">
                        <img src="/assets/img/icono.png" alt="" width="130" height="100" onerror=src="/assets/img/icono.png">
                        <h5 class="card-title">Formato de Valoración</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="#" class="btn btn-primary">Descargar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body text-center
                        ">
                        <img src="/assets/img/icono.png" alt="" width="130" height="100" onerror=src="/assets/img/icono.png">
                        <h5 class="card-title">Formatos para Estudio de Fertilidad</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="#" class="btn btn-primary">Descargar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body text-center
                        ">
                        <img src="/assets/img/icono.png" alt="" width="130" height="100" onerror=src="/assets/img/icono.png">
                        <h5 class="card-title">Formato de Estado de Ganadería</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="#" class="btn btn-primary">Descargar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body text-center
                        ">
                        <img src="/assets/img/icono.png" alt="" width="130" height="100" onerror=src="/assets/img/icono.png">
                        <h5 class="card-title">Formato Inscripción al Festival Lusitano</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="#" class="btn btn-primary">Descargar</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body text-center
                        ">
                        <img src="/assets/img/icono.png" alt="" width="130" height="100" onerror=src="/assets/img/icono.png">  
                        <h5 class="card-title">Formato de Inscripción de Equitación de Trabajo</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="#" class="btn btn-primary">Descargar</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body text-center
                        ">
                        <img src="/assets/img/icono.png" alt="" width="130" height="100" onerror=src="/assets/img/icono.png">
                        <h5 class="card-title">Formato de Inscripción Adiestramiento</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.
                                </p>
                                <a href="#" class="btn btn-primary">Descargar</a>
                            </div>
                        </div>
                    </div>

                </div>
                
                <%- include('layouts/footer'); -%>
        </body>

</html>